.layout {
  margin: var(--size-3) 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  & > :nth-child(2) {
    flex: 1;
  }
}

.header,
.footer {
  flex: 0 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & nav {
    display: flex;
    align-items: center;
    gap: var(--size-3);
  }
}

.header nav a {
  color: var(--text-1);
  text-decoration: none;

  transition: color 0.3s var(--ease-2);

  &:hover {
    color: var(--violet-3);
  }
}

.title {
  color: var(--text-1);
  font-weight: var(--font-weight-6);
  font-stretch: var(--font-stretch);
  text-decoration: none;
  transition: color 0.3s var(--ease-2);

  &:hover {
    color: var(--gray-0);
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--size-12);
  font-size: var(--font-size-0);
  letter-spacing: var(--font-letterspacing-1);
}
