.hero {
  margin-top: var(--size-10);

  @media (min-width: 768px) {
    margin-top: var(--size-12);
  }
}

.hero p {
  margin-top: var(--size-8);

  @media (min-width: 768px) {
    font-size: var(--font-size-3);
  }
}

@media (min-width: 768px) {
  .hero {
    display: grid;
    gap: var(--size-8);
    row-gap: var(--size-10);
    grid-template-columns: repeat(5, 1fr);

    & h1 {
      grid-column: 1 / span 3;
    }

    & p {
      margin: 0;
      grid-column: 3 / span 3;
      grid-row: 2 / 3;
    }
  }
}
