.hero {
  & p {
    margin-top: var(--size-8);
  }
}

@media (min-width: 768px) {
  .hero {
    margin-top: var(--size-10);

    display: grid;
    gap: var(--size-8);
    grid-template-columns: repeat(5, 1fr);

    & h1 {
      grid-column: 1 / span 3;
    }

    & p {
      margin: 0;
      grid-column: 3 / span 3;
      grid-row: 2 / 3;
    }
  }
}
