.hero {
  margin-top: var(--size-10);
}

.hero p {
  margin-top: var(--size-8);
}

@media (min-width: 768px) {
  .hero {
    margin-top: var(--size-12);
    align-items: end;

    & h1 {
      font-size: var(--font-size-5);
    }

    & p {
      margin: 0;
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    & h1 {
      font-size: var(--font-size-6);
    }

    & p {
      font-size: var(--font-size-2);
      grid-row: 2;
    }
  }
}
