.list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: var(--size-4);
}

.item {
  background-color: var(--surface-2);
  border: var(--border-size-1) solid var(--border);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  padding: var(--size-2);
}

.links {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  margin-top: var(--size-4);
}

.links a {
  display: flex;
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-2);
  background-color: var(--surface-3);
  color: var(--violet-0);
  text-decoration: none;
}
