.projects {
  list-style: none;
  padding: 0;
  display: grid;
  gap: var(--size-2);

  & > * {
    background-color: var(--surface-2);
    border: var(--border-size-1) solid var(--border);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-1);
    padding: var(--size-2) var(--size-3);
  }
}
