.categories {
  & h3 {
    color: var(--text-2);
    font-weight: var(--font-weight-7);
    letter-spacing: var(--font-letterspacing-1);
  }

  & > *:not(:first-child) {
    margin-top: var(--size-6);
  }
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--size-3);

  font-size: var(--font-size-3);
  margin-top: var(--size-2);
}
