.categories {
  display: grid;
  gap: var(--size-8);
  margin-top: var(--size-8);
}

.list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--size-3);

  margin-top: var(--size-2);
}

@media (min-width: 768px) {
  .categories {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .list {
    font-size: var(--font-size-2);
  }
}
