.contact form {
  margin-top: var(--size-8);
  display: grid;
  gap: var(--size-4);
  @media (min-width: 768px) {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);

    & > :nth-child(3),
    & > :nth-child(4) {
      grid-column: span 2;
    }
  }
}

.contact form > * {
  display: grid;
  gap: var(--size-1);
}

.contact label {
  color: var(--text-2);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-6);
}

.contact input,
.contact textarea {
  background-color: var(--surface-1);
  border: 1px solid var(--border);
  border-radius: var(--radius-2);
  caret-color: var(--violet-2);
  color: var(--text-1);

  padding: var(--size-1) var(--size-2);
  width: 100%;
  transition: all 0.3s var(--ease-elastic-out-3);

  &:focus {
    border-color: var(--violet-2);
    outline: none;
  }
}

.contact input::selection,
.contact textarea::selection {
  background-color: var(--violet-3);
}
